<div class="form-group msg-form">
  <%= form_with(model: [@single_room, @message], remote: true, class:'d-flex',
  data: {controller: "reset-form",action: "turbo:submit-end->reset-form#reset"}) do |f| %>
    <%= f.text_field :body, id: 'chat-text', class: 'form-control msg-content', autocomplete: 'off' %>
    <input type="hidden" name="user1" value="<%= @user1.id %>"  />
    <input type="hidden" name="user2" value="<%= @user2.id %>"  />
    <%= f.submit "Send", data: {disable_with: false}, class: 'btn btn-primary' %>
    
  </div>
<% end %>